@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Quicksand&family=Roboto:wght@300&display=swap");

/*     font-family: 'Parisienne', cursive;
font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Parisienne", cursive;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

body {
  background-image: linear-gradient(
    to left top,
    #486fb3,
    #5071b6,
    #5873ba,
    #5f75bd,
    #6777c0
  );
  color: white;
}

.add-btn {
  /* border: 1px solid white; */
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  position: fixed;
  background: #fcfffd;
  z-index: 20;
  bottom: 4rem;
  right: 3rem;
  color: rgb(0, 0, 255, 0.7);

  cursor: pointer;
  box-shadow: 3px #735cdd;
}
.add-btn:hover {
  transition: all 200ms ease-out;
  transform: scale(1.2);
}

.contents-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* grid-template-rows: auto; */
  grid-gap: 0.5rem;

  /* border: 2px solid black; */
  margin: 0rem 0.5rem;
  margin-top: 4rem;
}

.each-container {
  /* border: 1px solid black; */
  color: rgb(255, 255, 255, 0.7);
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #486fb3,
    #4469b5,
    #4264b6,
    #425eb7,
    #4357b7
  );

  min-width: 8rem;
  border-radius: 5px;
  min-height: 5rem;

  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .each-container {
    max-width: 30rem;
    max-height: 15rem;
  }
}
.inner-container {
  padding: 0.5rem 0.5rem;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  min-height: 100%;
}
.text {
  max-width: 100%;
  letter-spacing: 1px;
  text-align: start;
  margin-bottom: 0.5rem;
  max-height: 10rem;
  /* overflow: wrap; */
  overflow-wrap: break-word;
  overflow: scroll;
  overflow-x: hidden;
  cursor: default;
}
.start-text {
  font-family: "Quicksand", sans-serif;
  /* position: absolute; */
  margin-top: 15rem;
  font-weight: 300;
  font-size: 1.4rem;
  top: 10rem;
  text-align: center;
  color: rgb(51, 44, 44);
}

.icons {
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  padding-top: 0.5rem;
  /* padding-bottom: -0.5rem; */
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  text-align: center;
}

.icons > :first-child {
  border-right: 1px solid rgb(0, 0, 0, 0.3);
}

.edit {
  color: rgb(111, 182, 131);
}
.delete {
  color: rgb(195, 49, 73, 0.7);
}

.edit-icon {
  cursor: pointer;
  transition: all ease-out 200ms;
  /* background: #e5e8b6; */
}
.edit-icon:hover {
  transform: scale(1.3);
  border: none;
}
.for-input {
  position: absolute;
  top: 50%;
  right: 50%;
  height: 25rem;
  width: 20rem;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(208, 232, 243, 0.7);
}
textarea {
  font-size: 1.3rem;
  padding: 0.5rem;
  min-width: 100%;
  min-height: 17rem;

  max-height: 17rem;
  border: none;
  /* background: rgba(255, 255, 255, 0.9); */
  font-family: "Quicksand", sans-serif;
  background: #c5d6d8;
}
textarea:focus {
  border: none;
  outline: none;
}

.input-popup,
.edit-popup {
  position: fixed;
  top: 35%;
  left: 25%;
  right: 25%;
  /* border: 2px solid white; */
  border-radius: 10px;

  overflow: hidden;

  box-shadow: 2px 2px 1px 1px #c5d6d8, -2px -2px 1px 1px #c5d6d8;
}
.edit-popup .edit {
  color: black;
}
.save {
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.popup-actions {
  font-family: "Quicksand", sans-serif;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 2rem;
  grid-template-rows: 1fr;
  background: #c5d6d8;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-actions p {
  /* border: 1px solid white; */
  margin-top: 0.3rem;
}
.popup-actions p:hover {
  cursor: pointer;
}

.action-text {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  position: fixed;
  bottom: 5rem;
  color: black;
  background: white;
  font-weight: 600;
  padding: 0.7rem 1.2rem;
  border-radius: 20px;
  transform: translateX(calc(100vw - 55vw));
  max-width: 10rem;
  z-index: 50;
}
.linecut {
  text-decoration: line-through;
  color: black;
  cursor: pointer;
}
