@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Quicksand&family=Roboto:wght@300&display=swap");

/*     font-family: 'Parisienne', cursive;
font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Parisienne", cursive;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

body {
  background: rgb(26, 20, 35);
  color: white;
}

.add-btn {
  /* border: 1px solid white; */
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  position: absolute;
  background: #735cdd;
  z-index: 20;
  bottom: 4rem;
  right: 3rem;
  cursor: pointer;
  box-shadow: 3px #735cdd;
}
.add-btn:hover {
  transition: all 200ms ease-out;
  transform: scale(1.2);
}

.contents-container {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-rows: auto; */
  grid-gap: 0.5rem;

  /* border: 2px solid black; */
  margin: 0rem 0.5rem;
  margin-top: 4rem;
}
/* @media screen and (min-width: 650) {
  .contents-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 900) {
  .contents-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1100) {
  .contents-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */
.each-container {
  /* border: 1px solid black; */
  color: black;
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(
    to right top,
    #c1e0f7,
    #badff8,
    #b3dff9,
    #acdef9,
    #a4def9
  );
  border-radius: 5px;
  min-width: 14rem;
}
@media screen and (min-width: 650px) {
  .each-container {
    width: 20rem;
  }
}
.inner-container {
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;

  /* overflow-wrap: break-word; */
}
.text {
  max-height: 12rem;
  min-height: 12rem;
  /* cursor: pointer; */
  /* padding-bottom: rem; */
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.start-text {
  font-family: "Quicksand", sans-serif;
  /* position: absolute; */
  margin-top: 15rem;
  font-weight: 300;
  font-size: 1.4rem;
  top: 10rem;
  text-align: center;
}

.icons {
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  padding-top: 0.5rem;
  /* padding-bottom: -0.5rem; */
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* display: flex;
  justify-content: space-around; */
  text-align: center;
}
.icons > :first-child {
  border-right: 1px solid rgb(0, 0, 0, 0.3);
}

.edit {
  color: #5b8266;
}
.delete {
  color: #c33149;
}
/* .edit {
  border-right: 1px solid rgb(0, 0, 0, 0.3);
} */
.edit-icon {
  cursor: pointer;
  transition: all ease-out 200ms;
  /* background: #e5e8b6; */
}
.edit-icon:hover {
  transform: scale(1.3);
  border: none;
}
.for-input {
  position: absolute;
  top: 50%;
  right: 50%;
  height: 25rem;
  width: 20rem;
}

.hidden {
  display: none;
}
/* .edit-popup {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 5;
} */

textarea {
  /* resize: vertical;
  resize: horizontal; */
  font-size: 1.3rem;
  padding: 0.5rem;
  min-width: 100%;
  min-height: 17rem;
  /* max-width: 16rem; */
  /* background: #e5e8b6; */
  max-height: 17rem;
  border: none;
  /* background: rgba(255, 255, 255, 0.9); */
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(
    to right top,
    #bbadff,
    #c4affe,
    #cbb1fe,
    #d3b4fd,
    #dab6fc
  );

  /* background-color: blue; */
  /* border-radius: 10px; */
  /* margin-top: 0.5rem; */
}
textarea:focus {
  border: none;
  outline: none;
}

.input-popup,
.edit-popup {
  position: absolute;
  top: 35%;
  left: 25%;
  right: 25%;
  /* border: 2px solid white; */
  border-radius: 10px;
  /* border: none; */
  /* overflow-wrap: break-word;s */
  overflow: hidden;

  box-shadow: 2px 2px 4px 3px #97abb1, -2px -2px 4px 3px #97abb1;
}

.save {
  /* color: white; */
  /* border: 1px solid white; */
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.popup-actions {
  font-family: "Quicksand", sans-serif;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 2rem;
  grid-template-rows: 1fr;
  background-image: linear-gradient(
    to right top,
    #bbadff,
    #c4affe,
    #cbb1fe,
    #d3b4fd,
    #dab6fc
  );
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-actions p {
  /* border: 1px solid white; */
  margin-top: 0.3rem;
}
.popup-actions p:hover {
  cursor: pointer;
}

.action-text {
  /* display: inline-block; */
  text-align: center;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  bottom: 5rem;
  color: black;
  background: white;
  font-weight: 600;
  padding: 0.7rem 1.2rem;
  border-radius: 20px;
  left: 35%;
  z-index: 50;
  /* padding: ; */
}

@media screen and (min-width: 900px) {
  .action-text {
    left: 45%;
  }
}
